<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>
<th:block th:fragment="headFragment">
<head>
    <meta charset="UTF-8">
  <title>이루다숲</title>
  <link rel="icon" href="/images/tree.png">
  <!-- 부트스트랩 css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <!--구글폰트-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=IBM+Plex+Sans+KR&display=swap"
        rel="stylesheet">
</head>
<body>

<style>
body{
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 18px;}</style>

<nav class="navbar navbar-expand-lg navbar-success bg-success fixed-top" style="height: 50px;">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/" style="font-size: 20px;">이루다숲</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
            class="navbar-toggler-icon"></span></button>


    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link text-white" href="makeForest">이루다숲</a></li>
        <li class="nav-item active"><a class="nav-link text-white" href="participate">참여하기</a></li>

        <li class="nav-item active">
          <a class="nav-link text-white" href="boardlist">게시판</a></li>

        <!--복붙-->
        <li class="nav-item active">
          <a sec:authorize="isAnonymous()" class="nav-link text-white" th:href="@{/account/login}">로그인</a>
          <form id="logout" th:action="@{/logout}" method="POST" sec:authorize="isAuthenticated()">
            <a class="nav-link text-white" href="#" onclick="document.getElementById('logout').submit();">로그아웃</a>
            <!--                    <a class="nav-link text-white" th:href="@{/logout}">로그아웃</a>-->
          </form>
        </li>
        <li class="nav-item active"><a class="nav-link text-white" th:href="@{/account/register}"
                                       sec:authorize="!isAuthenticated()">회원가입</a></li>

      </ul>
    </div>
  </div>
</nav>

</body>

</th:block>

</html>